@import "https://pvinis.github.io/iosevka-webfont/7.0.2/iosevka.css";

:root {
    --font-headline: 'Iosevka Web';
    --font-code: 'Iosevka Web';

    --scrollbar-auto-thumb: rgb(223, 195, 200);
    --brand-experiment: rgb(204, 165, 172);
    --brand-experiment-560: rgb(204, 168, 175);
    --brand-experiment-500: rgb(184, 122, 133);
    --selection-col: rgba(184, 122, 133, 0.6);
    --background-accent: rgb(236, 67, 90);
    --local-bot-side: rgb(236, 67, 90);
}

.theme-dark {
    --background-primary: rgb(15, 15, 15);
    --background-secondary: rgb(20, 20, 20);
    --background-secondary-alt: rgb(8, 8, 8);
    --background-tertiary: rgb(8, 8, 8);
    --background-floating: rgb(8, 8, 8);
    --channeltextarea-background: rgb(8, 8, 8);
    --scrollbar-auto-track: rgb(29, 29, 29);
    --modal-footer-background: rgb(24, 24, 24);
}

::selection {background: var(--selection-col) !important;}

.theme-dark .container-1um7CU,.theme-dark .container-2IKOsH, .theme-dark .header-3xB4vB {
    background-color: var(--background-secondary-alt);
}

.theme-light .wrapper-1_HaEi,.theme-light .scroller-3X7KbA {
    background: linear-gradient(rgb(0 0 0 / 20%), rgb(109 54 54 / 20%)),var(--background-secondary) !important;
}
.theme-dark .wrapper-1_HaEi,.theme-dark .scroller-3X7KbA {
    background: linear-gradient(rgb(117 117 117 / 10%), rgb(156 108 108 / 10%)),var(--background-secondary) !important;
}

[href="/store"],
[aria-label="Send a gift"],
.container-2giAcK,
.buttonContainer-1sjtPU,
[aria-label="Nitro"],
[class^="upsellVisible-"], 
[class^="premiumIconWrapper"], 
[class^="characterCount-"] [class*="upsell-"], 
[class^="emojiSection-"] [class*="shinyButton-"],
[class*="tryItOutSection-"],
[aria-label="Help"],
[aria-label="Show User Profile (Unavailable)"],
[aria-label="Hide User Profile"],
[aria-label="Show User Profile"],
[class^="nowPlayingColumn-"],
aside {
    display: none
}

.info-3pQQBb > span:last-child::after {
    content: "\aNominal <=> CSS Tweaks";
    white-space: pre;
    text-transform: none;
    font-family: "Iosevka Web";
}

[class*="welcomeCTA"] { display:none; }
[class*="clickableSticker"] > div[aria-label] > [class*="assetWrapper"] {
    display: none;
}
[class*="clickableSticker"] > div[aria-label]::after {
    content: "A sticker was hidden.";
    color: rgba(128, 128, 128, 0.75);
    font-weight: 500;
}

.pageWrapper-2PwDoS {
    background-color: var(--background-primary) !important;
}

.base-3bcbY3 {
    opacity: 0.7;
    font-size: 9pt;
    top: -20px;
    left: 2px;
    text-shadow: 0 0 3px 3px black;
}

.theme-dark .panels-3wFtMD {
    padding: 0.2em;
    border: 1px solid var(--background-secondary);
}
.theme-light .panels-3wFtMD {
    padding: 0.2em;
    border: 1px solid var(--background-secondary);
}
.avatarWrapper-1B9FTW {
    margin-right: 2px;
}

[class^="channelTextArea-"] {
    margin-bottom: 0.6em !important;
    border: 1px solid var(--background-secondary);
}

[class^="nameTag-"] {
    user-select: none !important;
}

[class^=menu-]::after,[class^=submenu-]::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: 0.5em;
    backdrop-filter: blur(0.5em);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid var(--scrollbar-auto-track);
}
[class^=submenu-] {
    margin: 0 -8px;
}
.theme-dark [class^=menu-],.theme-dark [class^=submenu-] {
    background: rgba(10, 10, 10, 0.7);
}
.theme-light [class^=menu-],.theme-light [class^=submenu-] {
    background: rgba(255, 255, 255, 0.8);
}

[class^=backdrop-] ~ .theme-light[class*=layer-]>[class^=menu-] {
    background: rgba(255, 255, 255, 0.8);
}
[class^=backdrop-] ~ .theme-dark[class*=layer-]>[class^=menu-] {
    background: rgba(10, 10, 10, 0.7);
}
[class^=backdrop-] ~ [class*=layer-]>[class^=menu-]::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    backdrop-filter: blur(0.5em);
    border-radius: 8px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid var(--scrollbar-auto-track);
}
.section-3FmfOT, .divider-1tWBgZ, .scroller-1jBQYo {
    z-index: 2;
}
[id^="popout_"] ~ .theme-light[class*=layer-]>[class^=menu-] {
    background: rgba(255, 255, 255, 0.8);
}
[id^="popout_"] ~ .theme-dark[class*=layer-]>[class^=menu-] {
    background: rgba(10, 10, 10, 0.7);
}
[id^="popout_"] ~ [class*=layer-]>[class^=menu-]::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    backdrop-filter: blur(0.5em);
    border-radius: 8px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid var(--scrollbar-auto-track);
}

[class^="positionLayer-"] ~ .theme-light[class*=layer-]>[class^=menu-] {
    background: rgba(255, 255, 255, 0.8);
}
[class^="positionLayer-"] ~ .theme-dark[class*=layer-]>[class^=menu-] {
    background: rgba(10, 10, 10, 0.7);
}
[class^="positionLayer-"] ~ [class*=layer-]>[class^=menu-]::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    backdrop-filter: blur(0.5em);
    border-radius: 0.5em;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid var(--scrollbar-auto-track);
}


.theme-light .container-_dQaft, .theme-light .messagesPopoutWrap-3zryHW, .theme-light .recentMentionsPopout-2bI1ZN, .theme-light .container-18GwIk {
    border-radius: 0.5em;
    background: rgba(245, 245, 245, 0.7);
    backdrop-filter: blur(1em);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid var(--scrollbar-auto-track);
}
.theme-dark .container-_dQaft, .theme-dark .messagesPopoutWrap-3zryHW, .theme-dark .recentMentionsPopout-2bI1ZN, .theme-dark .container-18GwIk {
    border-radius: 0.5em;
    background: rgba(10, 10, 10, 0.7);
    backdrop-filter: blur(1em);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid var(--scrollbar-auto-track);
}
.container-1A0qQO, .container-nwU-8G, .messageContainer-3VTXBC {
    background: none;
}

.theme-light .userProfileInnerThemedNonPremium-1gT-zY, .theme-light .userProfileOuterUnthemed-2b2rsv {
    background: rgba(245, 245, 245, 0.6);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
}
.theme-dark .userProfileInnerThemedNonPremium-1gT-zY, .theme-dark .userProfileOuterUnthemed-2b2rsv {
    background: rgba(25, 25, 25, 0.4);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
}
.userProfileOuterUnthemed-2b2rsv::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: 0.5em;
    backdrop-filter: blur(1em);
    border: 1px solid var(--scrollbar-auto-track);
}

.theme-dark .root-g14mjS {
    background: rgba(10, 10, 10, 0.6);
    border-radius: 0.5em;
    backdrop-filter: blur(0.5em);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2) !important;
}
.theme-light .root-g14mjS {
    background: rgba(245, 245, 245, 0.8);
    border-radius: 0.5em;
    backdrop-filter: blur(0.5em);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2) !important;
}
[aria-label="User Profile Modal"]>.root-g14mjS {
    background: none !important;
}

.theme-light [class^=popout-], .theme-light [class^=popoutContainer-] {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(0.5em);
    border-radius: 0.5em;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid var(--scrollbar-auto-track);
}
.theme-dark [class^=popout-], .theme-dark [class^=popoutContainer-] {
    background: rgba(10, 10, 10, 0.7);
    backdrop-filter: blur(0.5em);
    border-radius: 0.5em;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid var(--scrollbar-auto-track);
}

[class^="profileCardUsernameRow-"] + [aria-label="User Badges"] {
    background: none !important;
}

.theme-dark [class^="accountProfileCard-"] {
    background: rgba(10, 10, 10, 0.7);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid var(--scrollbar-auto-track);
}
.theme-light [class^="accountProfileCard-"] {
    background: rgba(230, 230, 230, 0.7);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid var(--scrollbar-auto-track);
}

.theme-light .container-2McqkF {
    background: rgba(245, 245, 245, 0.7);
    backdrop-filter: blur(0.5em);
    border-radius: 0.5em;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid var(--scrollbar-auto-track);
}
.theme-dark .container-2McqkF {
    background: rgba(10, 10, 10, 0.7);
    backdrop-filter: blur(0.5em);
    border-radius: 0.5em;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid var(--scrollbar-auto-track);
}

.theme-light [class^="quickswitcher-"] {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(0.5em);
    border-radius: 0.5em;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid var(--scrollbar-auto-track);
}
.theme-dark [class^="quickswitcher-"] {
    background: rgba(27, 27, 27, 0.7);
    backdrop-filter: blur(0.5em);
    border-radius: 0.5em;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid var(--scrollbar-auto-track);
}
[class^="quickswitcher-"]>[class^="scroller-"] {
    background: none;
}

[class^="backdrop-"] + [class^="layer-"] {
    backdrop-filter: blur(0.25em);
}

[class^="item-"],button,[aria-label="Set Status"] {
    border-radius: 0.75em !important;
}

[class^="searchBar-"]>button {
    opacity: 0.5;
}

.theme-dark [aria-label="Message Actions"] > [class^="wrapper-"] {
    background: rgba(10, 10, 10, 0.6);
    border-radius: 0.5em;
    backdrop-filter: blur(0.5em);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2) !important;
    border: 1px solid var(--scrollbar-auto-track);
}
.theme-light [aria-label="Message Actions"] > [class^="wrapper-"] {
    background: rgba(245, 245, 245, 0.6);
    border-radius: 0.5em;
    backdrop-filter: blur(0.5em);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2) !important;
    border: 1px solid var(--scrollbar-auto-track);
}